INSTALL
KEYS
LICENSE
Makefile
Makefile.am
Makefile.in
NOTICE
_build.log
_build.sh
_build.tags
aclocal.m4
autogen.sh
build.xml
config.guess
config.log
config.status
config.sub
configure
configure-aprutil.bat
configure.bat
configure.in
depcomp
find_apr.m4
find_apu.m4
install-sh
liblog4cxx.pc
liblog4cxx.pc.in
libtool
ltmain.sh
missing
pom.xml
projects/
site/
src/
ups/log4cxx.cfgc
upstream/prepared

